center {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h1 {
    font-size: 80px;
}

a:visited {
    color: black;
}

.menu-bar:hover {
    color:grey;
}

table{
    margin-left: 20%;
    margin-right: 20%;
    border-spacing: 20px;
}

th {
    font-size: 30px;
}

.sns_logo {
    width: 40px;
    height: 40px;
    padding:5px;
}

.sns_logo:hover {
    filter:opacity(50%)
}

.menu-bar {
    background-size: 100px 100px;
    margin-right: 50px;
    font-size: 20px;
}

#introduction{
    font-size: 20px;
    vertical-align: top;
    text-align: left;
}

#description {
    font-size: 20px;
    vertical-align: top;
    text-align: left;
}
